<div class="blogger-config">
    <h1><%= link_to "#{pageheader.username} の ブログ", blogs_listbyuser_path(id: pageheader.id) %></h1>
    <h2>Email: <%= pageheader.email %></h2>
</div>
<ul class="blogger-links">
    <li><%= link_to 'ブログ一覧', blogs_listbyuser_path(id: pageheader.id) %></li>
    <li><%= link_to '画像アルバム', photos_list_path(id: pageheader.id) %></li>
    <li><%= link_to 'メッセージボックス', messages_list_path(id: pageheader.id) %></li>
</ul>