<div class="blog-list-page-wrapper">

  <%= render partial: 'blog/pageheader', object: @user %>

  <div class="main-content-wrapper clear-float">
    <div class="left-part">

      <%= render partial: 'blog/userinfo', object: @user %>

    </div>
    <div class="right-part">
      <h1>画像アルバム</h1>
      <div class="right-part-content">
        <div class="photo-list clear-float" data-user-id=<%= @user.id %> data-current-page=<%= @current_page %> data-page-count=<%= @page_count %>>
          <% (1..3).each do |column_index| %>
          <ul class="photo-column">
            <% @photo_columns["column_#{column_index}"].each do |photo| %>
              <li class="photo-wrapper">
                <a href="javascript:void(0)" data-index=<%= photo.index_in_page %> data-origin-url=<%= photos_getoriginal_path(id: photo.id) %>>
                  <%= image_tag photos_getthumbnail_path(id: photo.id) %>
                  <p><%= photo.intro %></p>
                </a>
              </li>
            <% end %>
          </ul>
          <% end %>
        </ul>
        <% if @current_page < @page_count %>
        <button id="load-more-btn" class="load-more-btn">もっと見る</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="pop-up original-photo-popup popup-hide">
  <div class="pop-up-title header-background">
    <span>画像</span>
  </div>
  <div class="original-photo-wrapper">
    <img src="">
  </div>
  <a class="img-change-btn prev-img-btn" href="javascript:void(0)">&lt;</a>
  <a class="img-change-btn next-img-btn" href="javascript:void(0)">&gt;</a>
</div>