<div class="user-list-wrapper">
    <div class="list-title">
        <h1>ブログ課題　ホームページ</h1>
        <h2>ユーザーを選んで、ブログの一覧に進めましょう</h2>
    </div>
    <div class="user-list">
        <h3>ユーザー一覧</h2>
        <div class="clear-float">
            <% (1..4).each do |column_index| %>
            <ul class="list-column">
                <% @user["column_#{column_index}"].each do |user| %>
                <li class="list-item">
                    <a href=<%= "/blog/listbyuser?id=#{user.id}" %> target="_blank" class="user-link">
                        <div class="img-wrapper"><img src=<%= users_photo_path(id: user.id) %>></div>
                        <p class="user-name"><%= user.username %></p>
                        <%= simple_format user.self_intro, class: 'self-intro' %>
                    </a>
                </li>
                <% end %>
            </ul>
            <% end %>    
        </div>
        <ul class="user-pagination pagination">
            <li><%= link_to_if @current_page > 1, '前へ', users_index_path(page: @current_page - 1) %></li>
            <!-- <li>...</li> -->
            <% (1..@page_count).each do |num| %>
                <% if num == @current_page %>
                <li class="current-page"><%= num %></li>
                <% else %>
                <li><%= link_to num, users_index_path(page: num) %></li>
                <% end %>
            <% end %>
            <!-- <li>...</li> -->
            <li><%= link_to_if @current_page < @page_count, '次へ', users_index_path(page: @current_page + 1) %></li>
            <li>合計<%= @page_count %>ページ</li>
        </ul>
    </div>
</div>