<div class="left-box">
    <h1>プロファイル</h1>
    <div class="left-box-content">
        <div><a href=<%= blogs_listbyuser_path(id: userinfo.id) %>><img src="/assets/cliff.jpg"/></a></div>
        <p class="intro-username"><%= link_to userinfo.username, blogs_listbyuser_path(id: userinfo.id) %></p>
        <p><%= judge_gender userinfo.gender %></p>
        <p>登録日時：<%= userinfo.sign_up_date %></p>
        <p>ブログ数：<%= userinfo.blog_articles.size %></p>
        <p>人気：<%= userinfo.popularity %></p>
    </div>
</div>

<div class="left-box">
    <h1>自己紹介</h1>
    <div class="left-box-content">
        <%= simple_format userinfo.self_intro %>
    </div>
</div>

<div class="left-box">
    <h1>タグ</h1>
    <div class="left-box-content">
        <% if userinfo.tags.any? %>
        <ul>
            <% userinfo.tags.each do |tag| %>
            <li><a href="javascript:void(0)"><%= tag.name %></a></li>
            <% end %>
        </ul>
        <% else %>
        <p>タグがございません。</p>
        <% end %>
    </div>
</div>