<div class="blog-list-page-wrapper">
    <div class="blogger-config">
        <h1><%= @blog_title %></h1>
        <h2>Email: iamcliffzhao@gmail.com</h2>
    </div>
    <ul class="blogger-links">
        <li><%= link_to 'ブログ一覧', blog_listbyuser_path(id: @user.id) %></li>
        <li><a href="javascript:void(0)">画像アルバム</a></li>
        <li><a href="javascript:void(0)">メッセージボックス</a></li>
    </ul>
    <div class="main-content-wrapper clear-float">
        <div class="left-part">

        <%= render(partial: 'userinfo', object: @user) %>
            
        </div>
        <div class="right-part">
            <h1>ブログ</h1>
            <div class="right-part-content">

                <%= render(partial: 'article', collection: @user.blog_articles.first(5)) %>

                
                <ul class="blog-pagination">
                    <li><a href="javascript:void(0)">前へ</a></li>
                    <li>...</li>
                    <li class="current-page">1</li>
                    <% (2..10).each do |num| %>
                    <li><a href="javascript:void(0)"><%= num %></a></li>
                    <% end %>
                    <li>...</li>
                    <li><a href="javascript:void(0)">次へ</a></li>
                    <li>合計20ページ</li>
                </ul>
            </div>
        </div>
    </div>
</div>